# Inventory Database
INVENTORY_DB_NAME=movies
INVENTORY_DB_USER=<your_db_user>
INVENTORY_DB_PASSWORD=<your_db_password>
INVENTORY_DB_HOST=localhost
INVENTORY_DB_PORT=5432

# Billing Database
BILLING_DB_NAME=orders
BILLING_DB_USER=<your_db_user>
BILLING_DB_PASSWORD=<your_db_password>
BILLING_DB_HOST=localhost
BILLING_DB_PORT=5432

# RabbitMQ
RABBITMQ_USER=<your_rmq_user>
RABBITMQ_PASSWORD=<your_rmq_password>
RABBITMQ_HOST=192.168.56.12
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=billing_queue

# API Ports
INVENTORY_PORT=8080
BILLING_PORT=8081
GATEWAY_PORT=3000

# VM IPs (Vagrant VirtualBox)
GATEWAY_IP=192.168.56.10
INVENTORY_IP=192.168.56.11
BILLING_IP=192.168.56.12
